<!------- Start FOOTER Section ------->
<footer>

    <div class="container grid grid-cols--four">

        <div class="footer-div--1">
            <div class="logo-brand">
                <a href="index.html">Thaap EduHub</a>
            </div>
            <p>Let's revolutionize the way you study with Thapa EduHub</p>

            <div class="social-footer--icons">
                <a href="/">
                    <i class="fa-brands fa-discord"></i>
                </a>
                <a href="/">
                    <i class="fa-brands fa-youtube"></i>
                </a>
                <a href="/">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
        </div>

        <div class="footer-div--2">
            <p class="footer-subheading">Courses</p>
            <ul>
                <li> <a href="/">Home</a></li>
                <li> <a href="/">Home</a></li>
                <li> <a href="/">Home</a></li>
                <li> <a href="/">Home</a></li>
                <li> <a href="/">Home</a></li>
            </ul>
        </div>

        <div class="footer-div--3">
            <p class="footer-subheading">Links</p>
            <ul>
                <li> <a href="/">Home</a></li>
                <li> <a href="/">Home</a></li>
                <li> <a href="/">Home</a></li>
                <li> <a href="/">Home</a></li>
                <li> <a href="/">Home</a></li>
            </ul>
        </div>

        <div class="footer-div--4">
            <p class="footer-subheading">Blogs</p>
            <ul>
                <li> <a href="/">Home</a></li>
                <li> <a href="/">Home</a></li>
                <li> <a href="/">Home</a></li>
                <li> <a href="/">Home</a></li>
                <li> <a href="/">Home</a></li>
            </ul>
        </div>

    </div>

</footer>
<!------- End FOOTER Section ------->