<!------- Start footer CONTACT Section ------->
<section class="section-contact--homepage" id="section-contact--homepage">

    <div class="container grid grid-cols--two">

        <div class="contact-content">
            <h2 class="contect-title">Let's revolutionize the way you study</h2>
            <p>Join our free bootcamp to know us better</p>
            <div class="btn">
                <a href="">
                    Start now <i class="fa-solid fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>

        <div class="contact-image">
            <img src="main.png" alt="coding image">
        </div>

    </div>

</section>
<!------- End footer CONTACT Section ------->