<!------- Start NAVBAR Section ------->
<header class="section-navbar">

    <div class="container">

        <div class="navbar-brand">
            <a href="index.html">
                <img src="logo.jpg" alt="Logo">
            </a>
        </div>

        <nav class="navbar">
            <ul>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/blogs">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Contact</a>
                </li>
            </ul>
        </nav>

    </div>

</header>
<!------- End NAVBAR Section ------->