<!------- Start Why Choose Section ------->
<section class="section-why--choose">

    <div class="container">
        <h2 class="section-common-heading">Why choose Thapa EduHub</h2>
        <p class="section-common-subheading">Choose Thapa EduHub for a holistic. enriching learning experience that
            empowers you to achive your goals.</p>
    </div>

    <div class="container grid grid-cols--three">

        <!-- left side content -->
        <div class="choose-left--div text-align--right">

            <div class="choose-common--div">
                <p class="common-text--highlight">1</p>
                <h3 class="section-common--title">Expert Instructors</h3>
                <p>Learn from experienced teachers who are passionate about sharing knowledge and guiding you toward
                    success in your learning journey.</p>
            </div>

            <div class="choose-common--div">
                <p class="common-text--highlight">2</p>
                <h3 class="section-common--title">Interactive Lessons</h3>
                <p>Engage in hands-on learning experiences that make education fun and memorable. Interactive
                    lessons encourage active participation and deeper understanding.</p>
            </div>

            <div class="choose-common--div">
                <p class="common-text--highlight">3</p>
                <h3 class="section-common--title">Lifelong Learning Support</h3>
                <p>Our commitment to your education doesn't end with a certificate. Receive ongoing support and
                    resources for continues learning and growth.</p>
            </div>

        </div>

        <!-- center content -->
        <div class="choose-center--div">

            <figure>
                <img src="mobile.png" alt="mobile image">
            </figure>

        </div>

        <!-- right side content -->
        <div class="choose-right--div text-align--left">

            <div class="choose-common--div">
                <p class="common-text--highlight">1</p>
                <h3 class="section-common--title">Expert Instructors</h3>
                <p>Learn from experienced teachers who are passionate about sharing knowledge and guiding you toward
                    success in your learning journey.</p>
            </div>

            <div class="choose-common--div">
                <p class="common-text--highlight">2</p>
                <h3 class="section-common--title">Interactive Lessons</h3>
                <p>Engage in hands-on learning experiences that make education fun and memorable. Interactive
                    lessons encourage active participation and deeper understanding.</p>
            </div>

            <div class="choose-common--div">
                <p class="common-text--highlight">3</p>
                <h3 class="section-common--title">Lifelong Learning Support</h3>
                <p>Our commitment to your education doesn't end with a certificate. Receive ongoing support and
                    resources for continues learning and growth.</p>
            </div>

        </div>

    </div>

</section>
<!------- End Why Choose Section ------->