/**** COURSE Section ****/
.section-course {
  background-color: var(--bg-color);
}

.section-course .grid {
  gap: 3.2rem;
}

.section-course .course-div {
  padding: 3.2rem;
}

.course-div:nth-child(2) .icon .fa-solid {
  color: #68bf9b;
  background-color: #e7f6ef;
}

.course-div:nth-child(3) .icon .fa-solid {
  color: #ff8b52;
  background-color: #fbebe8;
}

.course-div:nth-child(4) .icon .fa-solid {
  color: #183d3d;
  background-color: #ccf7f7;
}

.course-div:nth-child(5) .icon .fa-solid {
  color: #d988b9;
  background-color: rgb(247, 223, 238);
}

.course-div:nth-child(6) .icon .fa-solid {
  color: #ff9b50;
  background-color: #f6dfce;
}

.course-div:nth-child(7) .icon .fa-solid {
  color: #1450a3;
  background-color: #dce9fa;
}

.section-course .course-div:hover {
  box-shadow: var(--btn-box-shadow);
}
/**** COURSE Section End ****/