<!------- Start BLOG Section ------->
<section class="section-blog">

    <div class="container">
        <h2 class="section-common-heading">Explore Our Blog</h2>
        <p class="section-common-subheading">Explore our blog for insightful articles, tips, and updates on the world of education, skill development, and personal growth.</p>
    </div>

    <div class="container grid grid-cols--four">

        <div class="blog-div">
            <figure>
                <img src="https://images.pexels.com/photos/1181373/pexels-photo-1181373.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="coding image">
            </figure>

            <div class="blog-content">
                <div class="blog-date">
                    <p><i class="fa-solid fa-calendar"></i> Sep 22, 2023</p>
                    <p><i class="fa-solid fa-arrow-right"></i></p>
                </div>
                <h3 class="section-common--title">Code your first react app with us</h3>
            </div>
        </div>

        <div class="blog-div">
            <figure>
                <img src="https://images.pexels.com/photos/11035396/pexels-photo-11035396.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="coding image">
            </figure>

            <div class="blog-content">
                <div class="blog-date">
                    <p><i class="fa-solid fa-calendar"></i> Sep 22, 2023</p>
                    <p><i class="fa-solid fa-arrow-right"></i></p>
                </div>
                <h3 class="section-common--title">Code your first react app with us</h3>
            </div>
        </div>

        <div class="blog-div">
            <figure>
                <img src="https://images.pexels.com/photos/4389463/pexels-photo-4389463.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="coding image">
            </figure>

            <div class="blog-content">
                <div class="blog-date">
                    <p><i class="fa-solid fa-calendar"></i> Sep 22, 2023</p>
                    <p><i class="fa-solid fa-arrow-right"></i></p>
                </div>
                <h3 class="section-common--title">Code your first react app with us</h3>
            </div>
        </div>

        <div class="blog-div">
            <figure>
                <img src="https://images.pexels.com/photos/3861961/pexels-photo-3861961.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="coding image">
            </figure>

            <div class="blog-content">
                <div class="blog-date">
                    <p><i class="fa-solid fa-calendar"></i> Sep 22, 2023</p>
                    <p><i class="fa-solid fa-arrow-right"></i></p>
                </div>
                <h3 class="section-common--title">Code your first react app with us</h3>
            </div>  
        </div>

    </div>

</section>
<!------- End BLOG Section ------->